/*
 * Copyright 2026 NXP
 *
 * SPDX-License-Identifier: Apache-2.0
 */

#include "maax_imxrt1176-pinctrl.dtsi"
#include <nxp/nxp_rt1170.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>

/ {
	aliases {
		led0 = &green_led;
		led1 = &red_led;
		sw0 = &user_button;
	};

    chosen {
        zephyr,settings-partition = &storage_partition;
    };

	leds {
		compatible = "gpio-leds";
		green_led: led-1 {
			gpios = <&gpio8 28 GPIO_ACTIVE_LOW>;
			label = "Green LED";
		};

		red_led: led-2 {
			gpios = <&gpio9 7 GPIO_ACTIVE_LOW>;
			label = "Red LED";
		};
	};

	gpio_keys {
		compatible = "gpio-keys";
		user_button: button-1 {
			label = "User SW7";
			gpios = <&gpio13 0 GPIO_ACTIVE_LOW>;
			zephyr,code = <INPUT_KEY_0>;
		};
	};

};

&lpuart7 {
	status = "okay";
	pinctrl-0 = <&pinmux_lpuart7>;
	pinctrl-1 = <&pinmux_lpuart7_sleep>;
	pinctrl-names = "default", "sleep";
	current-speed = <115200>;
};

&lpuart2 {
	pinctrl-0 = <&pinmux_lpuart2>;
	pinctrl-1 = <&pinmux_lpuart2_sleep>;
	pinctrl-names = "default", "sleep";
};

&lpuart6 {
	pinctrl-0 = <&pinmux_lpuart6>;
	pinctrl-1 = <&pinmux_lpuart6_sleep>;
	pinctrl-names = "default", "sleep";
};

&user_button {
	status = "okay";
};

&green_led {
	status = "okay";
};

&flexcan3 {
	pinctrl-0 = <&pinmux_flexcan3>;
	pinctrl-names = "default";
};

&lpi2c5 {
	pinctrl-0 = <&pinmux_lpi2c5>;
	pinctrl-names = "default";
};

&lpi2c6 {
	pinctrl-0 = <&pinmux_lpi2c6>;
	pinctrl-names = "default";
};

&lpspi2 {
	pinctrl-0 = <&pinmux_lpspi2>;
	pinctrl-names = "default";
};

&lpspi4 {
	pinctrl-0 = <&pinmux_lpspi4>;
	pinctrl-names = "default";
};

&flexspi {
    pinctrl-0 = <&pinmux_flexspi1>;
    pinctrl-names = "default";
    status = "okay";
    ahb-prefetch;
    ahb-read-addr-opt;
    rx-clock-source = <1>;
    reg = <0x400cc000 0x4000>, <0x30000000 DT_SIZE_M(32)>;
    S26KS256: S26KS256@0 {
        compatible = "nxp,imx-flexspi-hyperflash";
        size = <DT_SIZE_M(32*8)>;
        reg = <0>;
        spi-max-frequency = <133000000>;
        status = "okay";
        cs-interval-unit = <1>;
				cs-interval = <2>;
				cs-hold-time = <3>;
				cs-setup-time = <3>;
				data-valid-time = <1>;
				column-space = <3>;
        word-addressable;
        erase-block-size = <DT_SIZE_M(128)>;
        write-block-size = <8>;

        partitions {
            compatible = "fixed-partitions";
            #address-cells = <1>;
            #size-cells = <1>;

            boot_partition: partition@0 {
                label = "mcuboot";
                reg = <0x00000000 DT_SIZE_K(128)>;
            };
            slot0_partition: partition@20000 {
                label = "image-0";
                reg = <0x00020000 DT_SIZE_M(14)>;
            };
            slot1_partition: partition@E20000 {
                label = "image-1";
                reg = <0x00E20000 DT_SIZE_M(14)>;
            };
            storage_partition: partition@1C20000 {
                label = "storage";
                reg = <0x01C20000 DT_SIZE_M(4)>;
            };
        };
    };
};
&pxp {
	status = "okay";
};
